@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    width: 700px;
    margin: auto;
    box-shadow: 4px 4px 2px 1px rgba(114, 114, 117, 0.2);
    padding: 4px;
    font-family: sans-serif ;
}

title {
    text-align: center;
}
--- ul {
    list-style: none;
    padding: 2px;
}
nav {
    
    padding: 8px;
    position: sticky;
    top:0;
    background-color: white;
    border: 2px solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

li {
    display: inline-block;
    padding: 0 5px;
    color: #ffffff;
  }
---
.sectionOne {
    border: 2px solid;
    background-color: white;
}
.sectionTwo {
    border: 2px solid;
    background-color: white;
}
.sectionThree {
    border: 2px solid;
    background-color: white;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main {
    background-color: white;
    border: 2px solid;
}